.loan-chart {
    .axis path,
    .axis line {
        fill: none;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .line {
        fill: none;
        stroke: #fff;
        stroke-width: 1.5px;
    }
    text {
        fill: #fff;
    }
}
